crue10/data/1.3/xsd/scenario-1.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.fudaa.fr/xsd/crue" xmlns:crue="http://www.fudaa.fr/xsd/crue" xmlns="http://www.fudaa.fr/xsd/crue">

	<xs:annotation>
		<!-- La Version et la Release doivent être mises à jour à chaque modification de cette xsd -->
		<xs:documentation xml:lang="fr">
			Version 1.3 Release 0
			Ce schéma est utilisé pour valider les
			références inter-fichier d'un scénario.
			Son nom reste à déterminer.
		</xs:documentation>
	</xs:annotation>

	<xs:include schemaLocation="nomRef-fichierConcat-1.3.xsd" />
	<xs:include schemaLocation="frag-common-1.3.xsd" />
	<xs:include schemaLocation="CrueConfigMetier-1.3.xsd" />

	<!-- Les 5 fichiers niveau scenario dans l'ordre -->
	<xs:include schemaLocation="frag-ocal-1.3.xsd" />
	<xs:include schemaLocation="frag-ores-1.3.xsd" />
	<xs:include schemaLocation="frag-pcal-1.3.xsd" />
	<xs:include schemaLocation="frag-dclm-1.3.xsd" />
	<xs:include schemaLocation="frag-dlhy-1.3.xsd" />

	<!-- Les 8 fichiers niveau modèle dans l'ordre -->
	<!-- un scenario pourra avoir plusieurs modeles -->
	<xs:include schemaLocation="frag-optr-1.3.xsd" />
	<xs:include schemaLocation="frag-optg-1.3.xsd" />
	<xs:include schemaLocation="frag-opti-1.3.xsd" />
	<xs:include schemaLocation="frag-pnum-1.3.xsd" />
	<xs:include schemaLocation="frag-dpti-1.3.xsd" />
	<xs:include schemaLocation="frag-dreg-1.3.xsd" />
	<xs:include schemaLocation="frag-rptr-1.3.xsd" />
	<xs:include schemaLocation="frag-rpti-1.3.xsd" />

	<!-- Les 4 fichiers niveau sous-modèle dans l'ordre -->
	<!-- un modèle peut avoir plusieurs sous-modeles -->
	<xs:include schemaLocation="frag-drso-1.3.xsd" />
	<xs:include schemaLocation="frag-dcsp-1.3.xsd" />
	<xs:include schemaLocation="frag-dptg-1.3.xsd" />
	<xs:include schemaLocation="frag-dfrt-1.3.xsd" />

	<!--
		Pour valider un scenario, il faut concaténer tous les fichiers entre
		les balises ValidationScenario.
	-->
	<xs:element name="ValidationScenario">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CrueConfigMetier" />
				<xs:element name="ScenarioFichiers">
					<xs:complexType>
						<xs:all>
							<xs:element ref="OCAL" />
							<xs:element ref="ORES" />
							<xs:element ref="PCAL" />
							<xs:element ref="DCLM" />
							<xs:element ref="DLHY" />
						</xs:all>
					</xs:complexType>
				</xs:element>
				<!--
					un scenario pourra avoir plusieurs modeles. Tous les fichiers seront
					concaténés à la suite ici
				-->
				<xs:element name="ValidationModele" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ModeleFichiers" >
								<xs:complexType>
									<xs:all>
										<xs:element ref="OPTR" />
										<xs:element ref="OPTG" />
										<xs:element ref="OPTI" />
										<xs:element ref="PNUM" />
										<xs:element ref="DPTI" />
										<xs:element ref="DREG" />
										<xs:element ref="RPTR" minOccurs="0"/>
										<xs:element ref="RPTI" minOccurs="0"/>
									</xs:all>
								</xs:complexType>
							</xs:element>
							<!--un Modele peut avoir plusieurs sous-modeles.-->
							<xs:element name="SousModeleFichiers" maxOccurs="unbounded">
								<xs:complexType>
									<xs:all>
										<xs:element ref="DRSO" />
										<xs:element ref="DCSP" />
										<xs:element ref="DPTG" />
										<xs:element ref="DFRT" />
									</xs:all>
								</xs:complexType>
								<!-- Foreign keys in DRSO -->
								<xs:keyref name="FK_DRSO_TO_ProfilCasier" refer="PK_ProfilCasier">
									<xs:selector xpath="crue:DRSO/crue:Casiers/crue:CasierProfil/crue:ProfilCasier"/>
									<xs:field xpath="@NomRef"/>
								</xs:keyref>
								<xs:keyref name="FK_DRSO_TO_ProfilSection" refer="PK_ProfilSection">
									<xs:selector xpath="crue:DRSO/crue:Sections/crue:SectionProfil/crue:ProfilSection"/>
									<xs:field xpath="@NomRef"/>
								</xs:keyref>
								<!-- Foreign keys in DCSP -->
								<xs:keyref name="FK_DCSP_TO_Branche" refer="PK_Branche">
									<xs:selector xpath="crue:DCSP/crue:DonCalcSansPrtBranches/crue:*"/>
									<xs:field xpath="@NomRef"/>
								</xs:keyref>
								<xs:keyref name="FK_DCSP_TO_Casier" refer="PK_Casier">
									<xs:selector xpath="crue:DCSP/crue:DonCalcSansPrtCasiers/crue:*"/>
									<xs:field xpath="@NomRef"/>
								</xs:keyref>
								<!-- Foreign keys in DPTG -->
								<xs:keyref name="FK_DPTG_TO_LoiFrottement" refer="PK_LoiFrottement">
									<xs:selector xpath="crue:DPTG/crue:DonPrtGeoProfilSections/crue:ProfilSection/crue:LitNumerotes/crue:LitNumerote/crue:Frot"/>
									<xs:field xpath="@NomRef"/>
								</xs:keyref>
								<xs:keyref name="FK_DPTG_TO_Branche" refer="PK_Branche">
									<xs:selector xpath="crue:DPTG/crue:DonPrtGeoBranches/crue:*"/>
									<xs:field xpath="@NomRef"/>
								</xs:keyref>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<!-- Primary keys -->
		<!--
		<xs:key name="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:SousModeleFichiers/crue:DRSO/crue:Noeuds/crue:NoeudNiveauContinu"/>
			<xs:field xpath="@Nom"/>
		</xs:key>
		-->
		<xs:key name="PKi_Casier">
			<xs:selector xpath="crue:ValidationModele/crue:SousModeleFichiers/crue:DRSO/crue:Casiers/crue:CasierProfil"/>
			<xs:field xpath="@Nom"/>
		</xs:key>
		<xs:key name="PKi_Section">
			<xs:selector xpath="crue:ValidationModele/crue:SousModeleFichiers/crue:DRSO/crue:Sections/crue:*"/>
			<xs:field xpath="@Nom"/>
		</xs:key>
		<xs:key name="PKi_Branche">
			<xs:selector xpath="crue:ValidationModele/crue:SousModeleFichiers/crue:DRSO/crue:Branches/crue:*"/>
			<xs:field xpath="@Nom"/>
		</xs:key>
		<!-- Foreign keys in OCAL -->
		<xs:keyref name="FK_OCAL_TO_CalcPseudoPerm" refer="PK_CalcPseudoPerm">
			<xs:selector xpath="crue:ScenarioFichiers/crue:OCAL/crue:OrdCalcPseudoPerm"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_OCAL_TO_CalcTrans" refer="PK_CalcTrans">
			<xs:selector xpath="crue:ScenarioFichiers/crue:OCAL/crue:OrdCalcTrans"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<!-- Foreign keys in DCLM -->
		<!--
		<xs:keyref name="FK_CalcPseudoPermNoeudQapp_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcPseudoPerm/crue:CalcPseudoPermNoeudQapp"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcPseudoPermNoeudNiveauContinuZimp_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcPseudoPerm/crue:CalcPseudoPermNoeudNiveauContinuZimp"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		-->
		<xs:keyref name="FK_CalcPseudoPermBrancheOrificeManoeuvre_TO_Branche" refer="PKi_Branche">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcPseudoPerm/crue:CalcPseudoPermBrancheOrificeManoeuvre"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcPseudoPermBrancheOrificeManoeuvreRegul_TO_Branche" refer="PKi_Branche">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcPseudoPerm/crue:CalcPseudoPermBrancheOrificeManoeuvreRegul"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcPseudoPermBrancheSaintVenantQruis_TO_Branche" refer="PKi_Branche">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcPseudoPerm/crue:CalcPseudoPermBrancheSaintVenantQruis"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcPseudoPermCasierProfilQruis_TO_Casier" refer="PKi_Casier">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcPseudoPerm/crue:CalcPseudoPermCasierProfilQruis"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<!--
		<xs:keyref name="FK_CalcPseudoPermNoeudBg1_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcPseudoPerm/crue:CalcPseudoPermNoeudBg1"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcPseudoPermNoeudBg2_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcPseudoPerm/crue:CalcPseudoPermNoeudBg2"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcPseudoPermNoeudUsi_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcPseudoPerm/crue:CalcPseudoPermNoeudUsi"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcPseudoPermNoeudBg1Av_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcPseudoPerm/crue:CalcPseudoPermNoeudBg1Av"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcPseudoPermNoeudBg2Av_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcPseudoPerm/crue:CalcPseudoPermNoeudBg1Av"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcTransNoeudQapp_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcTrans/crue:CalcTransNoeudQapp"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcTransNoeudNiveauContinuLimnigramme_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcTrans/crue:CalcTransNoeudNiveauContinuLimnigramme"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcTransNoeudNiveauContinuTarage_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcTrans/crue:CalcTransNoeudNiveauContinuTarage"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		-->
		<!-- TODO: Ajouter CalcTransNoeudNiveauContinuTarage/Tarage -->
		<xs:keyref name="FK_CalcTransBrancheOrificeManoeuvre_TO_Branche" refer="PKi_Branche">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcTrans/crue:CalcTransBrancheOrificeManoeuvre"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcTransBrancheSaintVenantQruis_TO_Branche" refer="PKi_Branche">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcTrans/crue:CalcTransBrancheSaintVenantQruis"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcTransCasierProfilQruis_TO_Casier" refer="PKi_Casier">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcTrans/crue:CalcTransCasierProfilQruis"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcTransBrancheOrificeManoeuvreRegul_TO_Branche" refer="PKi_Branche">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcTrans/crue:CalcTransBrancheOrificeManoeuvreRegul"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<!--
		<xs:keyref name="FK_CalcTransNoeudBg1_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcTrans/crue:CalcTransNoeudBg1"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcTransNoeudBg2_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcTrans/crue:CalcTransNoeudBg2"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcTransNoeudUsi_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcTrans/crue:CalcTransNoeudUsi"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcTransNoeudBg1Av_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcTrans/crue:CalcTransNoeudBg1Av"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_CalcTransNoeudBg2Av_TO_Noeud" refer="PKi_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DCLM/crue:CalcTrans/crue:CalcTransNoeudBg2Av"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		-->
		<!-- Foreign keys in DPTI -->
		<!--
		<xs:keyref name="FK_DPTI_TO_Noeud" refer="PK_Noeud">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DPTI/crue:DonPrtCIniNoeuds/crue:DonPrtCIniNoeudNiveauContinu"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_DPTI_TO_Casier" refer="PKi_Casier">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DPTI/crue:DonPrtCIniCasiers/crue:DonPrtCIniCasierProfil"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_DPTI_TO_Section" refer="PKi_Section">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DPTI/crue:DonPrtCIniSections/crue:*"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_DPTI_TO_Branche" refer="PKi_Branche">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DPTI/crue:DonPrtCIniBranches/crue:*"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		-->
		<!-- Foreign keys in DREG -->
		<xs:keyref name="FK_Qabs_TO_Section" refer="PKi_Section">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DREG/crue:DefQZreguls/crue:DefQregul/crue:Qabs"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_QdifAm_TO_Section" refer="PKi_Section">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DREG/crue:DefQZreguls/crue:DefQregul/crue:Qdif"/>
			<xs:field xpath="@NomRefAm"/>
		</xs:keyref>
		<xs:keyref name="FK_QdifAv_TO_Section" refer="PKi_Section">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DREG/crue:DefQZreguls/crue:DefQregul/crue:Qdif"/>
			<xs:field xpath="@NomRefAv"/>
		</xs:keyref>
		<xs:keyref name="FK_Zabs_TO_Section" refer="PKi_Section">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DREG/crue:DefQZreguls/crue:DefZregul/crue:Zabs"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_PRactif_TO_Section" refer="PKi_Section">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DREG/crue:LoiReguls/crue:LoiRegul/crue:ParamRegul/crue:PRactif"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_ZprCns_TO_Loi" refer="PK_LoiFF">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DREG/crue:LoiReguls/crue:LoiRegul/crue:ParamRegul/crue:ZprCns"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_Qusi_TO_Loi" refer="PK_LoiFF">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DREG/crue:LoiReguls/crue:LoiRegul/crue:ParamRegul/crue:Qusi"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_Qbg2_TO_Loi" refer="PK_LoiFF">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DREG/crue:LoiReguls/crue:LoiRegul/crue:ParamRegul/crue:Qbg2"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_ZimpZCha_TO_Loi" refer="PK_LoiFF">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DREG/crue:LoiReguls/crue:LoiRegul/crue:ParamRegul/crue:ZimpZCha"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
		<xs:keyref name="FK_ZimpQCha_TO_Loi" refer="PK_LoiFF">
			<xs:selector xpath="crue:ValidationModele/crue:ModeleFichiers/crue:DREG/crue:LoiReguls/crue:LoiRegul/crue:ParamRegul/crue:ZimpQCha"/>
			<xs:field xpath="@NomRef"/>
		</xs:keyref>
	</xs:element>

</xs:schema>
