crue10/data/xsd/1.3/etu-1.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.fudaa.fr/xsd/crue" xmlns="http://www.fudaa.fr/xsd/crue">

	<xs:annotation>
		<!-- La Version et la Release doivent être mises à jour à chaque modification de cette xsd -->
		<xs:documentation xml:lang="fr">
			Version 1.3 Release 2
			Ce schema est utilise pour valider
			le fichier ETU
		</xs:documentation>
	</xs:annotation>

	<xs:include schemaLocation="nomRef-fichierConcat-1.3.xsd" />
	<xs:include schemaLocation="frag-common-1.3.xsd" />

	<xs:element name="AuteurCreation" type="xs:string" />
	<xs:element name="DateCreation" type="xs:dateTime" />
	<xs:element name="DateDerniereModif" type="xs:dateTime" />
	<xs:element name="AuteurDerniereModif" type="xs:string" />
	<xs:element name="Rapports" type="xs:string" />
	<xs:element name="Type" type="TypeScenarioType" />

	<xs:simpleType name="TypeScenarioType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Crue10" />
			<xs:enumeration value="Crue9" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="Repertoire">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="path" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="Nom" type="TypeForAttributeNom" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="Repertoires">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Repertoire" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- FichEtudes -->

	<xs:element name="FichEtude">
		<xs:complexType>
			<xs:attribute name="Nom" type="TypeForAttributeNom" use="required" />
			<xs:attribute name="Chemin" type="xs:string" use="required" />
			<xs:attribute name="Type" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:complexType name="TypeFichEtudes">
		<xs:sequence>
			<xs:element ref="FichEtude" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!--  SousModeles -->

	<xs:element name="SousModeles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SousModele" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="SousModele">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Type" />
				<xs:element name="IsActive" type="xs:boolean" />
				<xs:element ref="Commentaire" />
				<xs:element ref="AuteurCreation" />
				<xs:element ref="DateCreation" />
				<xs:element ref="AuteurDerniereModif" />
				<xs:element ref="DateDerniereModif" />
				<xs:element name="SousModele-FichEtudes" type="TypeListeReferencesFichierSousModele" />
			</xs:sequence>
			<xs:attribute name="Nom" type="TypeForAttributeNomSousModele"
				use="required" />
		</xs:complexType>
	</xs:element>

	<!--  Modeles -->
	
	<xs:element name="Modele">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Type" fixed="Crue10" />
				<xs:element name="IsActive" type="xs:boolean" />
				<xs:element ref="Commentaire" />
				<xs:element ref="AuteurCreation" />
				<xs:element ref="DateCreation" />
				<xs:element ref="AuteurDerniereModif" />
				<xs:element ref="DateDerniereModif" />
				<xs:element name="Modele-FichEtudes" type="TypeListeReferencesFichierModele" />
				<xs:element name="Modele-SousModeles" minOccurs="0"
					type="TypeListeReferencesSousModele" />
			</xs:sequence>
			<xs:attribute name="Nom" type="TypeForAttributeNomModele"
				use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="ModeleV9">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Type" fixed="Crue9" />
				<xs:element ref="Commentaire" />
				<xs:element ref="AuteurCreation" />
				<xs:element ref="DateCreation" />
				<xs:element ref="AuteurDerniereModif" />
				<xs:element ref="DateDerniereModif" />
				<xs:element name="ModeleV9-FichEtudes" type="TypeListeReferencesFichierModeleV9" />
				<!--
					xs:element name="SousModeles" minOccurs="0"
					type="TypeListeReferencesSousModele" /
				-->
			</xs:sequence>
			<xs:attribute name="Nom" type="TypeForAttributeNomModele"
				use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="Modeles">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Modele" />
				<xs:element ref="ModeleV9" />
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<!--  Scenarios -->
	
	<xs:element name="Scenarios">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Scenario" />
				<xs:element ref="ScenarioV9" />
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="Scenario">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Type" fixed="Crue10" />
				<xs:element name="IsActive" type="xs:boolean" />
				<xs:element ref="Commentaire" />
				<xs:element ref="AuteurCreation" />
				<xs:element ref="DateCreation" />
				<xs:element ref="AuteurDerniereModif" />
				<xs:element ref="DateDerniereModif" />

				<!-- xs:element ref="DateDerniereModif" /-->
				<xs:element name="Scenario-FichEtudes" type="TypeListeReferencesFichierScenario" minOccurs="0" />
				<xs:element name="Scenario-Modeles" type="TypeListeReferencesModele" />
				<xs:element name="Scenario-ScenarioV9" type="TypeNomRefLocal" minOccurs="0" />
				<xs:element ref="Runs" minOccurs="0" />
				<xs:element name="RunCourant" type="TypeNomRefLocal" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="Nom" type="TypeForAttributeNomScenario" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="ScenarioV9">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Type" fixed="Crue9" />
				<xs:element ref="Commentaire" />
				<xs:element ref="AuteurCreation" />
				<xs:element ref="DateCreation" />
				<xs:element ref="AuteurDerniereModif" />
				<xs:element ref="DateDerniereModif" />
				<!-- xs:element ref="DateDerniereModif" /-->
				<xs:element name="Scenario-ModeleV9" type="TypeNomRefLocal" />
				<xs:element ref="RunV9s" minOccurs="0" />
				<xs:element name="RunCourant" type="TypeNomRefLocal"
					minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="Nom" type="TypeForAttributeNomScenario"
				use="required" />
		</xs:complexType>
	</xs:element>

	<!--  RUNS -->
	
	<xs:element name="Runs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Run" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="RunV9s">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RunV9" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Run">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Commentaire" />
				<xs:element ref="AuteurCreation" />
				<xs:element ref="DateCreation" />
				<xs:element ref="AuteurDerniereModif" />
				<xs:element ref="DateDerniereModif" />
      </xs:sequence>
			<xs:attribute name="Nom" type="TypeForAttributeNom" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="RunV9">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Commentaire" />
			</xs:sequence>
			<xs:attribute name="Nom" type="TypeForAttributeNom" use="required" />
		</xs:complexType>
	</xs:element>

	<!-- Liste des fichiers acceptés au niveau SousModele -->
	<xs:complexType name="TypeListeReferencesFichierSousModele">
		<xs:sequence>
			<xs:element ref="DRSO" />
			<xs:element ref="DCSP" />
			<xs:element ref="DPTG" />
			<xs:element ref="DFRT" />
		</xs:sequence>
	</xs:complexType>

	<!-- Liste des fichiers acceptés au niveau Modele -->
	<xs:complexType name="TypeListeReferencesFichierModele">
		<xs:sequence>
			<xs:element ref="OPTR" />
			<xs:element ref="OPTG" />
			<xs:element ref="OPTI" />
			<xs:element ref="PNUM" />
			<xs:element ref="DPTI" />
			<xs:element ref="DREG" minOccurs="0" /> <!-- Ajout MEC-Crue10-->
		</xs:sequence>
	</xs:complexType>

	<!-- Liste des fichiers acceptés au niveau ModeleV9 -->
	<xs:complexType name="TypeListeReferencesFichierModeleV9">
		<xs:sequence>
			<xs:element ref="DC" />
			<xs:element ref="DH" />
		</xs:sequence>
	</xs:complexType>

	<!-- Liste des fichiers acceptés au niveau scenario -->
	<xs:complexType name="TypeListeReferencesFichierScenario">
		<xs:sequence>
			<xs:element ref="OCAL" />
			<xs:element ref="ORES" />
			<xs:element ref="PCAL" />
			<xs:element ref="DCLM" />
			<xs:element ref="DLHY" />
		</xs:sequence>
	</xs:complexType>


	<!-- Definition des références de fichiers -->

	<xs:simpleType name="TypeXmlIdRef">
		<xs:restriction base="xs:IDREF">
			<xs:whiteSpace value="collapse" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="OCAL">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.ocal\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="ORES">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.ores\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="PCAL">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.pcal\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="DCLM">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.dclm\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="DLHY">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.dlhy\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="OPTR">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.optr\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="OPTG">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.optg\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="OPTI">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.opti\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="PNUM">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.pnum\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="DPTI">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.dpti\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="DREG"> <!-- Ajout MEC-Crue10-->
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.dreg\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="DC">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.dc"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="DH">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.dh"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="DRSO">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.drso\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="DCSP">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.dcsp\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="DPTG">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.dptg\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="DFRT">
		<xs:complexType>
			<xs:attribute name="NomRef" use="required">
				<xs:simpleType>
					<xs:restriction base="TypeXmlIdRef">
						<xs:pattern value=".*[^\s].*\.dfrt\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<!-- Les résultats -->
	
	<xs:element name="RCAL">
		<xs:complexType>
			<xs:attribute name="Nom" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:pattern value=".*[^\s].*\.rcal"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="RPTR">
		<xs:complexType>
			<xs:attribute name="Nom" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:pattern value=".*[^\s].*\.rptr"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="RPTG">
		<xs:complexType>
			<xs:attribute name="Nom" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:pattern value=".*[^\s].*\.rptg"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="RPTI">
		<xs:complexType>
			<xs:attribute name="Nom" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:pattern value=".*[^\s].*\.rpti\.xml"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="TypeListeReferencesSousModele">
		<xs:sequence>
			<xs:element name="Modele-SousModele" type="TypeNomRefLocal"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TypeListeReferencesModele">
		<xs:sequence>
			<xs:element name="Scenario-Modele" type="TypeNomRefLocal" />
		</xs:sequence>
	</xs:complexType>

	<!--  FICHIER ETU -->
	
	<xs:element name="ETU">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Commentaire" />
				<xs:element ref="AuteurCreation" />
				<xs:element ref="DateCreation" />
				<xs:element ref="AuteurDerniereModif" />
				<xs:element ref="DateDerniereModif" />
				<xs:element name="ScenarioCourant" type="TypeNomRefLocal" minOccurs="0" />
				<xs:element ref="Repertoires" />
				<xs:element name="FichEtudes" type="TypeFichEtudes" />
				<xs:element ref="SousModeles" />
				<xs:element ref="Modeles" />
				<xs:element ref="Rapports" minOccurs="0" />
				<xs:element ref="Scenarios" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>